<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="folder" value="C:\Users\andre.h\Documents\Projects\BigWCompositer\NewVideos\" />
        <add key="baseVideoPath" value="C:\Users\andre.h\Documents\Projects\BigWCompositer\BaseVideos\bigw.ts" />
        <add key="imagePath" value="C:\Users\andre.h\Documents\Projects\BigWCompositer\BaseVideos\" />
        <add key="outputFolder" value="C:\Users\andre.h\Documents\Projects\BigWCompositer\Complete\" />
        <add key="ffmpegPath" value="C:\Users\andre.h\Documents\Projects\BigWCompositer\ffmpeg\bin\ffmpeg.exe" />
        <add key="processingFolder" value="C:\Users\andre.h\Documents\Projects\BigWCompositer\Processing\" />
        <add key="urlPath" value="http://bigwgianttoyspectacular.com/Complete/" />
        <add key="fileSuffix" value="-comp" />
        <add key="AWSAccessKey" value="AKIAITMNJ5CYW472BYFQ"/>
        <add key="AWSSecretKey" value="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"/>
        <add key="debug" value="false"/>
    </appSettings>
</configuration>